@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");

// VARIABLES

// colors
$colorDarkGrayishBlue: hsl(217, 19%, 35%);
$colorDesaturatedDarkBlue: hsl(214, 17%, 51%);
$colorGrayishBlue: hsl(212, 23%, 69%);
$colorLightGrayishBlue: hsl(210, 46%, 95%);

//  breakpoint
$breakpoint-md: 44.375em;

@mixin breakpoint-md {
  @media (min-width: #{$breakpoint-md}) {
    @content;
  }
}

// RESET
html {
  font-size: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  font-size: 0.813em;
  font-family: "Manrope", sans-serif;
  background-color: $colorLightGrayishBlue;
  color: $colorDesaturatedDarkBlue;
}
